<!DOCTYPE html> 
<html> 
  <head> 
    <meta charset="utf-8" />
    <title>StageScout</title> 
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->    

    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:bold&v1' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssbase/base-min.css">
    
    <style type="text/css">
body {
background: url(http://subtlepatterns.com/patterns/concrete_wall_2.png);
padding-left: 100px;
}

table, th, td {
  border: 0;
}

table {

}

th{
  border-radius: 10px;
  background: #a44;
  
}

td {

    background: rgba(175, 175, 175, .5);
}

nav {
  float: right;
  background: #caa;
  background: rgba(210, 175, 175, .5);
  border-radius: 10px;
  padding: 2em;
}

h1{
  font-size: 100px;
}
header {
  font-family: 'Cabin Sketch'
}
h1 img {
  height: 80px;
}

    </style>
  </head> 

  <body>
    <header>
      <h1>
        <a href="http://bmat.com/" target="_blank"><img src="http://mtg.upf.edu/files/bmat.jpg" /></a>
        +
        <a href="http://2011.sonar.es/" target="_blank"><img src="http://2011.sonar.es/img/logo_home.gif" /></a>
        = StageScout
      <h1>
      <h2>Your personalized festival schedule</h2>
    </header>
    <nav>
    {% if current_user %}
      <p><a href="{{ current_user.profile_url }}"><img src="http://graph.facebook.com/{{ current_user.id }}/picture"/></a></p>
      <p>You are logged in as {{ current_user.name|escape }}</p>
      <p><a href="/auth/logout">Log out</a></p>
    {% else %}
      <p>You are not yet logged into this site</p>
      <p><a href="/auth/login">Log in with Facebook</a></p>
    {% endif %}
    </nav>
    {% if current_user %}
      <table border="1">
        <tr>
          <th>time</th>
          <th>place</th>
          <th>info</th>
        </tr>
      {% for event in current_user.schedule.my_events %}
        <tr>
          <td>{{ event.start|escape }}</td>
          <td>{{ event.place|escape }}</td>
          <td>
            <a href="{{ event.url }}">{{ event.artist.name|escape }}</a>
          </td>
        </tr>
      {% endfor %}
      </table>
      <p>... but you are going to miss:</p>
      <ul>
      {% for x in current_user.schedule.left_out %}
      <li>
          <a href="{{ x.event.url }}">
            {{ x.event.artist.name|escape }}
          </a>
          (conflicts with <a href="{{ x.conflict.url }}">{{ x.conflict.artist.name|escape }}</a>)
      </li>
      {% endfor %}
      </ul>
    {% endif %}
  </body>
</html>
